.col-md-12, .col-md-8, .col-md-4, .col-xs-12 {
    padding: 0px;
    background-color: rgba(228, 228, 228, 0.34);
    background-color: #fff;
}

.single-order{
    background-color: #fff;
    background-color: rgba(0, 68, 110, 0.09);
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid rgba(152, 152, 152, 0.85);
    border-left: 1px solid rgba(152, 152, 152, 0.85);
    border-radius: 5px;
    box-shadow: 3px 3px 4px #666;
}
.single-order .order-info{
    border: 1px solid rgba(165, 165, 165, 0.8);
    border-radius: 5px;
    margin-top: 3px;
}
.single-order .order-info .product-name{
    color: #00907a;
    font-size: 18px;
    font-weight: bold;
}
.single-order .order-info .pricing{
    color: #000;
    font-size: 18px;
}
.single-order .customer-info{
    border: 1px solid rgba(165, 165, 165, 0.8);
    border-radius: 5px;
    margin-top: 3px;
}
.single-order .customer-info .left{
    border-right: 1px solid rgba(165, 165, 165, 0.8);
}
.single-order .note{
    background-color: rgba(226, 226, 226, 0.17);
}
.single-order .save-address{
    background-color: rgba(103, 176, 0, 0.85);
    color: rgba(255, 255, 255, 0.9);
}
.single-order .row3{
    border: 1px solid rgba(165, 165, 165, 0.8);
    border-radius: 5px;
    margin-top: 3px;
}
